<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>日志检索</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="{% static 'log_search/css/common.css' %}" rel="stylesheet">
    <link href="{% static 'log_search/css/index.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="bk-horz-nav11">
        <div class="bk-nav-logo fl">
            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo1.png">日志检索
        </div>
        <div class="bk-nav-user fr">
            <span>admin</span>
            <img src="{% static 'log_search/images/avatar.png' %}" >
        </div>
        <ul class="bk-nav-links fr">
            <li class="active">
                <a href="{% url 'index:home' %}">首页</a>
            </li>
            <li>
                <a href="{% url 'index:log_result' %}">搜索结果</a>
            </li>
        </ul>
    </nav>
    <div class="search-wrapper">
        <form class="bk-form bk-inline-form search-form clearfix">
            <div class="search-logo">
                <img src="{% static 'log_search/images/search-logo.png' %}" alt="">
            </div>
            <div class="bk-form-item bk-form-larger">
                <div class="bk-form-content">
                    <input type="text" class="bk-form-input search-input" placeholder="搜索" style="width:540px;">
                </div>
            </div>
            <div class="bk-form-item">
                <div class="bk-form-content">
                    <a class="bk-button bk-primary bk-button-larger search-button" href="javascript:void(0);" title="查询">查询</a>
                </div>
            </div>
        </form>
    </div>

    <footer class="bk-footer mt0">
        <div class="bk-footer-links">
            <ul>
                <li>
                    <a href="###">QQ咨询</a>
                </li>
                <li>
                    <a href="###">蓝鲸论坛</a>
                </li>
                <li>
                    <a href="###">蓝鲸官网</a>
                </li>
                <li>
                    <a href="###">蓝鲸智云工作台</a>
                </li>
            </ul>
        </div>
        <p class="bk-footer-copyright">
            Copyright &copy; 2012-2017 Tencent BlueKing. All Rights Reserved. 蓝鲸智云 版权所有
        </p>
    </footer>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
</body>

</html>