<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav>
                <div class="king-header2 navbar navbar-blue  f14">
                    <div class="nav-container">
                        <div class="navbar-header">
                            <button class="pull-right visible-xs navbar-toggle collapsed navbar-toggle-sm" type="button" data-toggle="collapse" data-target="#king-header2-navbar-collapse"> <i class="fa fa-fw fa-ellipsis-v">                    </i> </button>
                            <a class="navbar-brand" href="javascript:;" title="故障预警系统">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" alt="" class="logo" style="margin-top:-5px;"> </a>
                        </div>
                        <div class="navbar-collapse collapse" id="king-header2-navbar-collapse">
                            <ul class="nav navbar-nav navbar-left hidden-sm">
                                <li class="open">
                                    <a href="{% url 'index:home' %}">
                                        <span>项目信息</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'index:trouble_police' %}">
                                        <span>故障预警</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <span>关键词</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'index:log_search' %}">
                                        <span>数据查询</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'index:monitor_health' %}">
                                        <span>数据健康度</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog">                            </i>
                                        <span class="ml10"> 管理配置 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span> admin </span>
                                        <span class="avatar">
                                            <img src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav9/images/avatar.jpg"> </span>
                                    </a>
                                </li>
                                <li> <a href="javascript:void(0)">                            退出                        </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="king-widget1  m0">
                            <div class="king-widget2-content p25">
                                <div class="king-counter king-counter-lg">
                                    <span class="king-counter-number">606</span>
                                    <div class="king-counter-label text-uppercase">counters</div>
                                </div>
                            </div>
                        </div>
                        <!-- 设置面板Start -->
                        <!-- 设置面板End -->
                    </div>
                    <div class="col-md-8">
                        <div class="king-widget2  m0">
                            <div class="king-widget2-content p30">
                                <div class="row no-space">
                                    <div class="col-sm-6">
                                        <div class="king-counter king-counter-lg">
                                            <span class="king-counter-number">286</span>
                                            <div class="king-counter-label text-uppercase">Online Players</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="king-counter king-counter-lg">
                                            <span class="king-counter-number">286</span>
                                            <div class="king-counter-label text-uppercase">Online Players</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 设置面板Start -->
                        <!-- 设置面板End -->
                    </div>
                </div>
            </div>
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-4">
                        <div style="height: 300px; position: relative;" id="chart_1623893995777" class="king-chart-box chart-area  k-chart" data-role="chart"></div>
                    </div>
                    <div class="col-md-4">
                        <div style="height: 300px; position: relative;" id="chart_1623894381025" class="king-chart-box chart-bar  k-chart" data-role="chart"></div>
                    </div>
                    <div class="col-md-4">
                        <div style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;" id="chart_1623894393024" class="king-chart-box chart-area " _echarts_instance_="1623893886334"></div>
                    </div>
                </div>
            </div>
            <ul class="king-timeline">
                <li class="time-label">
                    <span class="king-bg-blue">2015-05-21</span>
                </li>
                <li> <i class="fa fa-envelope king-bg-blue"></i>
                    <div class="king-timeline-item">
                        <h3 class="king-timeline-header">blue king 给你发了一封邮件</h3>
                        <div class="king-timeline-body">我们的目标是让您对腾讯云的服务...</div>
                        <div class="king-timeline-footer"> <a class="btn btn-primary btn-xs">查看详情</a> <a class="btn btn-danger btn-xs">删除</a> </div>
                    </div>
                </li>
                <li> <i class="fa fa-user king-bg-aqua"></i>
                    <div class="king-timeline-item">
                        <span class="time"> <i class="fa fa-clock-o"></i> 5 分钟前 </span>
                        <h3 class="king-timeline-header no-border">blue king 已经接受你的认证申请！</h3>
                    </div>
                </li>
                <li> <i class="fa fa-comments king-bg-yellow"></i>
                    <div class="king-timeline-item">
                        <span class="time"> <i class="fa fa-clock-o"></i> 27 分钟前 </span>
                        <h3 class="king-timeline-header">blue king 给你回复</h3>
                        <div class="king-timeline-body">我们会用饱满的热情、诚恳的态度、专业的知识背景，耐心、细致地为用户解决问题...</div>
                        <div class="king-timeline-footer"> <a class="btn btn-warning btn-flat btn-xs">回复</a> </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="king-bg-blue">2015-05-20</span>
                </li>
                <li> <i class="fa fa-camera king-bg-blue"></i>
                    <div class="king-timeline-item">
                        <span class="time"> <i class="fa fa-clock-o"></i> 2 天前 </span>
                        <h3 class="king-timeline-header">blue king 上传一组照片</h3>
                        <div class="king-timeline-body">
                            <img class="margin" alt="..." src="https://magicbox.bk.tencent.com/static_api/v3/components/timeline1/images/default.png">
                        </div>
                    </div>
                </li>
                <li> <i class="fa fa-user king-bg-aqua"></i>
                    <div class="king-timeline-item">
                        <span class="time"> <i class="fa fa-clock-o"></i> 5 分钟前 </span>
                        <h3 class="king-timeline-header no-border">blue king 已经接受你的认证申请！</h3>
                    </div>
                </li>
                <li> <i class="fa fa-comments king-bg-yellow"></i>
                    <div class="king-timeline-item">
                        <span class="time"> <i class="fa fa-clock-o"></i> 27 分钟前 </span>
                        <h3 class="king-timeline-header">blue king 给你回复</h3>
                        <div class="king-timeline-body">我们会用饱满的热情、诚恳的态度、专业的知识背景，耐心、细致地为用户解决问题...</div>
                        <div class="king-timeline-footer"> <a class="btn btn-warning btn-flat btn-xs">回复</a> </div>
                    </div>
                </li>
                <li> <i class="fa fa-clock-o king-bg-gray"></i> </li>
            </ul>
        </div>
    </div>
    <script>
        // 创建图表
        function createKendoAreaChart(conf) {
            $(conf.selector).kendoChart({
                title: {
                    text: conf.data.title
                },
                theme: 'bootstrap',
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: 'area',
                    area: {
                        line: {
                            style: "smooth"
                        }
                    }
                },
                series: conf.data.series ,
                valueAxis: {
                    labels: {
                        format: "{0}%"
                    },
                    line: {
                        visible: false
                    },
                    axisCrossingValue: -10
                },
                categoryAxis: {
                    categories: conf.data.categories ,
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}%",
                    template: "#= series.name #: #= value #"
                }
            });
            $(window).resize(function(){
                $(conf.selector).data("kendoChart").refresh();
            });

        }

        function initKendoAreaChart(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = {
                            series: res.data.series,
                            categories: res.data.categories
                        };
                        createKendoAreaChart({
                            selector: conf.container, // 图表容器
                            data: data // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initKendoAreaChart({
                url: 'https://magicbox.bk.tencent.com/static_api/v3/components/charts_area/demo.json',
                dataType: 'json',
                container: '#chart_1623893995777'
            });
        });
    </script>
    <script>
        // 创建图表
        function createKendoBarChart(conf){
            $(conf.selector).kendoChart({
                legend: {
                    position: "bottom"
                },
                theme : 'bootstrap',
                categoryAxis : {
                    majorGridLines : {
                        visible: false
                    },
                    categories : conf.data.categories
                },
                seriesDefaults : {
                    type: "column"
                },
                series : conf.data.series,
                valueAxis : {
                    max: 200,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: false
                    },
                    labels : {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible : true,
                    template: "#= series.name # #= value #"
                }
            });
            $(window).resize(function(){
                $(conf.selector).data("kendoChart").refresh();
            });
        }

        function initKendoBarChart(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = {
                            series: res.data.series,
                            categories: res.data.categories
                        };
                        createKendoBarChart({
                            selector: conf.container, // 图表窗器
                            data: data // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initKendoBarChart({
                url: 'https://magicbox.bk.tencent.com/static_api/v3/components/charts_bar/demo.json',
                dataType: 'json',
                container: '#chart_1623894381025'
            });
        });
    </script>
    <script>
        function createEStandLineChart(conf){
            var myChart = echarts.init(document.getElementById(conf.selector));
            var legendData = []
            for(var i=0; i < conf.data.series.length;i++){
                legendData.push(conf.data.series[i].name)
            }
            myChart.setOption({
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    y: 'bottom',
                    data:legendData
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['bar','line']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : conf.data.xAxis
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        splitArea : {show : true}
                    }
                ],
                series : conf.data.series
            });
         }
        function initEStandLineChart(conf){
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        createEStandLineChart({
                            selector: conf.containerId, // 图表容器
                            data: res.data, // 图表数据
                        });
                    }
                }
            })
        }
    </script>
    <script>
        $(function(){
            initEStandLineChart({
                url: 'https://magicbox.bk.tencent.com/static_api/v3/components/chart3/demo.json',
                dataType: 'json',
                containerId: 'chart_1623894393024'
            });
        });
    </script>
</body>

</html>