<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav>
                <div class="king-header2 navbar navbar-blue  f14">
                    <div class="nav-container">
                        <div class="navbar-header">
                            <button class="pull-right visible-xs navbar-toggle collapsed navbar-toggle-sm" type="button" data-toggle="collapse" data-target="#king-header2-navbar-collapse"> <i class="fa fa-fw fa-ellipsis-v">                    </i> </button>
                            <a class="navbar-brand" href="javascript:;" title="故障预警系统">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" alt="" class="logo" style="margin-top:-5px;"> </a>
                        </div>
                        <div class="navbar-collapse collapse" id="king-header2-navbar-collapse">
                            <ul class="nav navbar-nav navbar-left hidden-sm">
                                <li class="open">
                                    <a href="{% url 'index:home' %}">
                                        <span>项目信息</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'index:trouble_police' %}">
                                        <span>故障预警</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <span>关键词</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'index:log_search' %}">
                                        <span>数据查询</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'index:monitor_health' %}">
                                        <span>数据健康度</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog">                            </i>
                                        <span class="ml10"> 管理配置 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span> admin </span>
                                        <span class="avatar">
                                            <img src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav9/images/avatar.jpg"> </span>
                                    </a>
                                </li>
                                <li> <a href="javascript:void(0)">                            退出                        </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <table class="table mb0 pr15 ranger-box ">
                <thead>
                    <tr>
                        <th style="width: 100px;">#</th>
                        <th style="width: 20%;">任务</th>
                        <th style="width: 20%;">进度</th>
                        <th style="width: 20%;">开发者</th>
                        <th>结束时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 100px;">1</td>
                        <td style="width: 20%;">版本更新</td>
                        <td style="width: 20%;">完成</td>
                        <td style="width: 20%;">管理员</td>
                        <td>2015-09-20</td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">2</td>
                        <td style="width: 20%;">数据备份</td>
                        <td style="width: 20%;">完成</td>
                        <td style="width: 20%;">管理员</td>
                        <td>2015-09-20</td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">3</td>
                        <td style="width: 20%;">定时任务</td>
                        <td style="width: 20%;">完成</td>
                        <td style="width: 20%;">管理员</td>
                        <td>2015-09-20</td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">4</td>
                        <td style="width: 20%;">修复bug</td>
                        <td style="width: 20%;">完成</td>
                        <td style="width: 20%;">管理员</td>
                        <td>2015-09-20</td>
                    </tr>
                </tbody>
            </table>
            <!-- 设置面板Start -->
            <template id="header_tpl_1623833758885">
                <tr>
                    <th style="width: 100px;">#index#</th>
                    <th style="width: 20%;">#task#</th>
                    <th style="width: 20%;">#progress#</th>
                    <th style="width: 20%;">#host#</th>
                    <th>#date#</th>
                </tr>
            </template>
            <template id="tpl_1623833758885">
                <tr>
                    <td style="width: 100px;">#index#</td>
                    <td style="width: 20%;">#columnName1#</td>
                    <td style="width: 20%;">#columnName2#</td>
                    <td style="width: 20%;">#columnName3#</td>
                    <td>#columnName4#</td>
                </tr>
            </template>
            <!-- 设置面板End -->
        </div>
    </div>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bk.tencent.com/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1623833758885').html();
                        var headerTpl =  $('#header_tpl_1623833758885').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1623833758885 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
</body>

</html>